sample-dll-flow/node-red-dll-flow.json
[{"id":"975dc518.7069d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26ed8cf1.725fc4","type":"inject","z":"975dc518.7069d8","name":"Dll Payload","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \t\"lib\": \"\\\"./sample-dll-flow/math.dll\\\"\", \t\"method\": [{ \t\t\"name\": \"add\", \t\t\"paramValues\": \"2,3\", \t\t\"oiParamType\": \"[int, [int, int]]\", \t\t\"result\": 5 \t}, { \t\t\"name\": \"minus\", \t\t\"paramValues\": \"2,3\", \t\t\"oiParamType\": \"[int, [int, int]]\", \t\t\"result\": -1 \t}, { \t\t\"name\": \"multiply\", \t\t\"paramValues\": \"2,3\", \t\t\"oiParamType\": \"[int, [int, int]]\", \t\t\"result\": 6 \t}] }","payloadType":"json","x":190,"y":180,"wires":[["3bd02507.4cbeba"]]},{"id":"94e5c67b.f0d1b8","type":"debug","z":"975dc518.7069d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"3bd02507.4cbeba","type":"dll-node","z":"975dc518.7069d8","name":"","x":340,"y":120,"wires":[["94e5c67b.f0d1b8"]]}]
